*{
    margin: 0;
    padding: 0;
    color: white;
    
}
body{
    min-height: 4500px;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #070a31;
    padding-top: 54px;
    background-image: url(img/sunsky.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    


}


header{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(img/stars.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

nav{
    z-index: 3;
    padding: 10px;
    margin:  0 30px;
    text-align: center;

}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


main{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#backgroundMontain{
    position: fixed;
    max-width: 1920px;
    filter: brightness(0.1);
    transition: 1s;
    z-index: -1;
    
}

#backgroundMontain img{
    max-width: 1921px;
    width: auto
}

.start-animation {
    bottom: -400px;
    z-index: 2;
  }

.end-animation {
    bottom: -100px;
    z-index: 1;
  }


#Title{
    margin-top: 45px;
    text-align: center;
    position: fixed;
    transition: 1s;
    z-index: 0;
   
}


#picProfile{
    width: 150px;
    border-radius: 50%;
    z-index: 3;

}
#stars{
    width: 800px;
    height: 300px;
    
}
.container{
    z-index: -1;
    margin-top: 2000px;
    padding-bottom: 30vh;
    max-width: 1920px;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;  
    gap: 20px;  
}

.box{
    
    height:500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    transition: 1s;
    filter: grayscale(0.8);
    
}
.box:hover{
    transform: scale(1.02);
    filter: grayscale(0);
}
.box p{
    font-size: 1em;
    background-color: #00000044;
    border-radius: 10px;
    max-width: 800px;
    padding: 20px;
    margin: 10px;
    text-align: justify;
}


#storm{
    background-image: url(img/storm.jpg);
}

#sun{
    background-image: url(img/sun.jpg);
}

#zen{
    background-image: url(img/zen.jpg);
}



#metatron{
    width: 217px;
    height: 241px;
    position: fixed;
    background-image: url(img/metatron.webp);
    background-position: center;
    background-size: cover;
    
   
}
.startMetatron{

    z-index: -1;
    left: auto;
    scale:1;
}

.endMetatron{
    z-index: 4;
    left: -50px;
    bottom: -60px;
    scale: 0.5;
}

#footer{
    position: fixed;
    z-index: 3;
    bottom: 0;
    width: 100vw;
    padding-bottom: 32px;

}
li{

    background-color: #ffffffaa;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 20px;
    

}
li:hover{
    background-color: #ffffff;
}
a{
    color: black;
    text-decoration: none;
}








 @media screen and (min-height: 1080px) {
    #backgroundMontain img{
        max-width: 1921px;
        width: auto;
    }
 }

 .invert-colors {
    filter: invert(100%);
}


@media (orientation: portrait) {
    #backgroundMontain img{

        width: auto;
        scale: 1;
    }

    .box{
        opacity: 1;
        margin-bottom: 100px;
    }

  }



  /* Media query pour les écrans mobiles */
